/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

@font-face{
    font-family: "GTWalsheim";
    src: url(./fonts/GTWalsheimv2Manual-Regular.woff2) format('woff2'),
    url(./fonts/GTWalsheimv2Manual-Regular.woff) format('woff');
    font-style: normal;
    font-weight: 400;
}
@font-face{
    font-family: "GTWalsheim";
    src: url(./fonts/GTWalsheimv2Manual-Bold.woff2) format('woff2'),
    url(./fonts/GTWalsheimv2Manual-Bold.woff) format('woff');
    font-style: normal;
    font-weight: 600;
}
@font-face{
    font-family: "GTWalsheim";
    src: url(./fonts/GTWalsheimv2Manual-Black.woff2) format('woff2'),
    url(./fonts/GTWalsheimv2Manual-Black.woff) format('woff');
    font-style: normal;
    font-weight: 900;
}
@font-face{
    font-family: "Megafon";
    src: url(../fonts/MegaFonGraphikLC-Regular-Web.woff2) format('woff2'),
    url(../fonts/MegaFonGraphikLC-Regular-Web.woff) format('woff');
    font-style: normal;
    font-weight: 400;
}
@font-face{
    font-family: "Megafon";
    src: url(../fonts/MegaFonGraphikLC-Bold-Web.woff2) format('woff2'),
    url(../fonts/MegaFonGraphikLC-Bold-Web.woff) format('woff');
    font-style: normal;
    font-weight: 600;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,body{
	height:100%;
	width:100%;
	overflow-x: hidden;
 /*   max-width: 720px;*/
    margin: auto;
}

h1{
    font-size: 1.5em;
    font-size: 9.6vw;
    line-height: 1;
	margin: 20px 0;
	font-family: 'GTWalsheim';
}
h2{
    font-size: 1em;
    font-size: 4.8vw;
	font-family: 'GTWalsheim';
    margin: 25px 0;
    margin: 5.8vw 0;
    line-height: 1.15;
}

body {
    font-family: 'GTWalsheim';
    font-weight: 400;
	font-size: 16px;
    line-height:0.95;
    color: #444444;
    background-size: cover;
    background-repeat: no-repeat;
	display: flex;
    flex-direction: column;
/*	max-width: 720px;*/
	margin: auto;
}
p{margin: 0 0 10px;}
a {color: white;}
a:hover, a:focus {opacity: 0.7;}

.content{
	flex: 1 0 auto;
    display: flex;
    align-items: flex-start;
	flex-direction: column;
}

.game-container{
	flex: 1;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.login-container{
	flex: 1;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 25px 30px 0 30px;
    display: flex;
    flex-direction: column;
}

.logo{
    display: inline-block;
    position: relative;
    z-index: 11;
      height: 25px;
    margin-bottom: 15px;
}
.logo img {
    height: 100%;
}

#timer{
color: #e74f37;
    font-size: 36px;
    line-height: 1;
    float: inherit;
    width: 120px;
}
.quiz-wrapper{
	flex: 1 0 auto;
	display: flex;
    flex-direction: column;
}

.quiz-card {
    background: #fff;
    padding: 25px;
    border-radius: 20px;
    padding-top: 30px;
    height: fit-content;
	flex: 1 0 auto;
}
.question-number {
    color: #009a39;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 16px;
}
.question-number span {
    font-size: 30px;
    margin-right: 5px;
}


.quiz-pagination {
    text-align: center;
    width: 100%;
    margin-top: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}
.quiz-pagination span {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 100%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
}

.quiz-pagination span.correct {
    background: #00b856;
    border: 1px solid #fafafa85;
}
.quiz-pagination span.wrong {
    background: #e74f37;
}

footer{background-color: #fff; color: #717171; background: #e5e5e5; padding: 10px; text-align: center; font-size: 14px;}
footer p{line-height: 1.15; margin-bottom:0;}
.message_success{background-color: #f7a600; color:#fff}
.message_error{background-color: #e74f37; color:#fff;}
.message_div{color: #fff; text-align: center; padding: 10px; position: absolute;}

.btn{
    text-align: center;
    font-size: 16px;
    color: #FFF;
    height: 40px;
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
	border:0;
    border-radius: 20px;
	width: 100%;
    text-decoration:none;
   margin-top: 20px;
}
.btn-login{
    height: 46px !important;
    border-radius: 24px !important;
	width: 200px;
}

.btn-next{
    border: 2px solid #00b856;
    background: white;
    color: black;
    font-size: 16px;
}
.btn-next:hover{
    background: #00b856;
    color: white;
}

.login-phone{
    width: 100%;
    padding: 10px 0;
    margin-bottom: 5px;
    font-size: 26px;
    background: transparent;
    border: 0;
    color: white!important;
    border-bottom: 2px white solid;
}
.login-phone::placeholder{
	color:white;
}

.radio{
    position: relative;
    display: block;
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
	text-align: left;
}
.radio label{
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}
input[type=radio]{
    position: absolute;
	margin: 4px 0 0 -20px;
}

.radio+.radio, .checkbox+.checkbox {
    margin-top: -5px;
}
.text-center{text-align: center;}

.bg-mfgreen, .btn-mfgreen{background-color: #00b856;}
.bg-mfpurple, .btn-mfpurple{background-color: #731982;}
.btn-mfgreen:hover {color: white; background-color: #33c778;}
.btn-mfpurple:hover {color: white; background-color: #b808d4;}
.color-mfgreen{color: #00b856;}
.color-mfpurple{color: #731982;}
.color-white{color: white;}
.hide{ display: none;}

.bg-pic1{
    background-image: url(/img/bg-main.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: -5%;
}
.bg-pic2{
    background-image: url(/img/bg-questions.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center
}
.pt-50{padding-top: 40%;}
.pt-10{padding-top: 10%;}
.text-muted{opacity: .7;}
.text-small{font-size: 12px; line-height:1.15;}

.bounces{   
    padding-top: 50%;
    margin: 30px auto;
    width: 100%;
    position: relative;
}
.bounce-left{
	position: absolute;
	height: 100%;
	width: 50%;
	left: -30%;
	top: 0;
	background: #731982;
	border-radius: 50%;
}
.bounce-right{
    position: absolute;
    height: 100%;
    width: 50%;
    right: -30%;
    top: 0;
    background: #731982;
    border-radius: 50%;
	overflow: hidden;
}
.bounce-middle{
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 25%;
    background: white;
    border-radius: 50%;
}
.bounce-start{
    width: 100%;
    height: 100%;
    background: white;
    border: 0;
    border-radius: 50%;
    position: absolute;
	color: #00b856;
    font-size: 9vw;
    text-align: center;
    text-decoration: none;
    padding-top: 37%;
	font-family: 'GTWalsheim';
	font-weight: bold;
	
}
.bounce-start:hover, .bounce-start:focus{
    color: #731982;
	text-decoration: none;
	cursor: pointer;
}
.prize{
    background: url(/img/prize.png) no-repeat top center;
    width: 100%;
    height: 115%;
    background-size: cover;
    position: absolute;
    bottom: 10%;
    left: 4%;
}

/* Анимация спиннера */
.preloader {
	display: block;
	position: absolute;
	top: calc(50% - 20px);
	left: calc(50% - 68px);
}
.preloader div {
	position: absolute;
	top: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #731982;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.preloader div:nth-child(1) {left: 0px; animation: preloader1 1s infinite;}
.preloader div:nth-child(2) {left: 0px; animation: preloader2 1s infinite;}
.preloader div:nth-child(3) {left: 48px; animation: preloader2 1s infinite;}
.preloader div:nth-child(4) {left: 96px; animation: preloader3 1s infinite;}
@keyframes preloader1 {0% {transform: scale(0);} 100% {transform: scale(1);}}
@keyframes preloader3 {0% {transform: scale(1);} 100% {transform: scale(0);}}
@keyframes preloader2 {0% {transform: translate(0, 0);} 100% {transform: translate(48px, 0);}}

.w-100{ width: 100%;}

.btn-answ{
	border: 2px solid #CCC;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
    line-height: 1;
    color: black;
    background: white;
}
.btn-answ:hover {
	border: 2px solid #b808d4;
    background:#b808d4;
	color: white
}
.btn-answ.wrong{
	border: 2px solid #e74f37;
    background:#e74f37;
	color: white
}
.btn-answ.correct{
	border: 2px solid #00b856;
    background:#00b856;
	color: white
}

@media only screen and (max-width: 320px) {
  .game-container {padding: 15px; padding-bottom: 0;}
  .bounces { margin: auto auto;}
  .pt-50 {padding-top: 25%;}
  .bg-pic1 {background-position-y: -23%;}
  .logo {margin-bottom: 0px;}
  .pt-10 { padding-top: 0;}
  .quiz-pagination {
    padding-top: 8px;
    padding-bottom: 8px;
}
  .quiz-card {
    padding: 15px;
    padding-top: 25px;
}
  .btn {margin-top:15px;}
  footer {
    font-size:12px;
    padding: 8px;
}
  #quiz_form{padding-top:10px!important;}
}